{% extends 'qrmedia/base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
<link rel="stylesheet" href="{% static 'qrmedia/css/autocomplete.css' %}">
{% endblock head %}

{% block content %}
  <div id="qr-generator" class="bg-light">
    <h1>{% trans "New QRCode" %}</h1>
    <div class="row">
      <div class="col-md-6">

        <div class="mb-3">
          <label for="form-qid">{% trans "Wikidata item" %}</label>
          <div class="input-group">
            <input type="text" class="form-control form-qid" id="form-qid-main" placeholder="Louise Michel" required>
            <div class="invalid-feedback" style="width: 100%;">
              {% trans "The Qid is required." %}
            </div>
          </div>
        </div>

        <h2>{% trans "Advanced parameters" %}</h2> <sup><a href="#" id="toggle-form-advanced">{% trans "(show/hide)" %}</a></sup>
        <div id="form-advanced" style="display: none;">
          <div class="mb-3">
            <label for="form-project">{% trans "Project tag" %}</label>
            <select class="custom-select d-block w-100" id="form-project">
              <option value=""></option>
              {% for project in projects %}
                <option>{{ project }} </option>
              {% endfor %}
            </select>
          </div>

          <div class="mb-3">
            <label for="form-qid-place">{% trans "QR code display location" %}</label>
            <div class="input-group">
              <input type="text" class="form-control form-qid" id="form-qid-place" aria-describedby="form-qid-place-remove" placeholder="Paris">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="form-qid-place-remove">🗑️</button>
              </div>
            </div>
          </div>

        </div>

      </div>
      <div class="col-md-6">
        <h2 id="qr-label"></h2>
        <p id="qr-description"></p>
        <div id="qr-img"></div>
        <p id="qr-url"></p>
      </div>
  </div>


{% endblock content %}

{% block footerjs %}
    <script type="text/javascript" src="{% static 'qrmedia/js/kjua-0.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'qrmedia/js/jquery.autocomplete.min.js' %}"></script>
    <script type="text/javascript">
      $( document ).ready(function(){
        var base_url = "https://qrwm.org/";
        var qrcode_data = {
          url: "",
          qid: "",
          project: "",
          label: "",
          description: "",
          place: ""
        };

        //$('#form-advanced').hide();
        $('#toggle-form-advanced').click(function(){
          $('#form-advanced').toggle();
        });

        $('#form-qid-place-remove').click(function(){
          $('#form-qid-place').val('');
          qrcodeUpdate({
                "place": ''
              });
        });

        var qrcodeUpdate = function (data = {}) {
          console.log(data);

          // Merge the new data with the old one
          for (arg in data) {
            qrcode_data[arg] = data[arg];
          }

          console.log(qrcode_data);
          // Update the URL if needed
          if (qrcode_data.qid !== "") {
            var url_suffix = qrcode_data.qid;
            var params = {};
            if (qrcode_data.project !== "") {
              params['pk_campaign'] = qrcode_data.project;
            }
            if (qrcode_data.place !== "") {
              params['pk_kwd'] = qrcode_data.place;
            }

            params_str = $.param(params);
            if (params_str) {
              url_suffix += '?' + params_str;
            }
            qrcode_data.url = base_url + url_suffix;
          } else {
            qrcode_data.url = base_url;
          }

          // Update the fields
          $( "#qr-label" ).html(qrcode_data.label);
          $( "#qr-description" ).html(qrcode_data.description);
          $( "#qr-url" ).html('<a href="' + qrcode_data.url +' ">' + qrcode_data.url + "</a>");

          // Update the image
          var container = $('#qr-img');
          container.empty();

          var qrcode = kjua({
            text: qrcode_data.url,
            minVersion: 4,
            size: 300,
            rounded: 100,
          });
          container.append(qrcode);
        };

        $('.form-qid').autocomplete({          
            lookup: function (query, done) {
              $.ajax({
                url: "https://www.wikidata.org/w/api.php",
                dataType: "jsonp",
                data: {
                  action: "wbsearchentities",
                  format: "json",
                  origin: "*",
                  language: "fr",
                  limit: "10",
                  formatversion: 2,
                  search: query
                }
              }).done( function( data) {
                var suggestions = [];
                var description = "";
                for (let s of data.search) {
                  var value = s.label 
                  if (s.description) {
                    value += " (" + s.description + ")";
                    description = s.description;
                  } else {
                    description = "";
                  }
                  suggestions.push({ "value": value, "data": s.id, "label": s.label, "description" : description });
                }

                var result = { suggestions: suggestions };
                done(result);
              });
          },
          onSelect: function (suggestion) {
            console.log('You selected: ' + suggestion.data + ', ' + suggestion.label);
            if (this.id == 'form-qid-main') {
                qrcodeUpdate({
                "qid": suggestion.data,
                "label": suggestion.label,
                "description" : suggestion.description
              });
            } else if (this.id == 'form-qid-place') {
              qrcodeUpdate({
                "place": suggestion.data
              });
            }
            
          }
        });

        $('#form-project').change(function() {
          qrcodeUpdate({"project": this.value });
        });
      });
    </script>
{% endblock footerjs %}
